/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #E0E1DD;
}

/* Sidebar */
#sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    background: #1D2D44;
    color: white;
    padding-top: 1rem;
    transition: width 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#sidebar h2 {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#sidebar a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    margin: 5px 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-size: 1rem;
}

#sidebar a:hover {
    background: #495057;
    transform: translateX(5px);

}

#sidebar a i {
    font-size: 1.25rem;
    margin-right: 10px;
    transition: margin-right 0.3s ease;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.logo {
    margin: 0;
}

.logo img {
    width: 50px;
}

.branding-s {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    color: white;
}

.branding h1 {
    margin-left: 10px;
    font-size: 20px;
    width: 150px;
    margin-bottom: 5px;
}

.logoT {
    font-size: 32px;
    font-weight: bold;
}

.register-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-left: 250px; /* Space for sidebar */
    width: calc(100% - 250px);
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.register-form h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

/* Role Selection */
.role-selection {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 25px;
}

.role-option {
    text-align: center;
}

.role-option input {
    display: none;
}

.role-option label {
    width: 200px;
    margin-left: 8px;
    color: white;
    display: block;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background: #1D2D44;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.role-option input:hover + label {
    box-shadow: 0 0 12px black;
    color: white;
}

.role-option input:checked + label {
    background-color: #3E5C76;
    box-shadow: 0 0 12px black;
    color: white;
}

/*Inputs Style*/

.mb-3 {
    display: flex;
    flex-direction: column;
}

.mb-3 input {
    background-color: #3E5C76;
    padding: 15px;
    width: 350px;
    border-radius: 20px;
    border: none;
    margin-top: 15px;
}

.mb-3 ::placeholder {
    color: white;
}

/*Submit btn Styles*/
.submit-section {
    margin-top: 18px;
}
.submit-btn {
    width: 200px;
    margin-left: 8px;
    color: white;
    display: block;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background: #1D2D44;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 14px;
}

.alrdy-txt {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

.alrdy-txt a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.alrdy-txt a:hover {
    text-decoration: underline;
}