{% extends "base.html" %}
{% block content %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

<div class="login-page">
    <div class="form">
        <form method="POST" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
            {{ form.email.label }}{{ form.email() }}
            {{ form.password.label }}{{ form.password() }}
            
            <!-- Role Selection -->
            <div>
                <label for="role">Select your role:</label><br>
                <input type="radio" id="host" name="role" value="Host" required>
                <label for="host">Host</label><br>
                <input type="radio" id="tenant" name="role" value="Tenant" required>
                <label for="tenant">Tenant</label><br>
            </div>

            {{ form.submit() }}
            <p class="message">Not registered? <a href="{{ url_for('register') }}">Create an account</a></p>
        </form>
    </div>
</div>

{% endblock %}








